ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
main ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
main li {
    max-width: 250px;
    margin: 16px;
    padding: 16px;
}
main img {
    width: 100%;
}
