@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

html, body {
    height: 100%;
    overflow: hidden;
    font-family: sans-serif;
    font-weight: 100;
}
body {
    background-image: url('../img/crazy-ones.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    display: flex;
    flex-direction: column;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}


#html5 {
    background-image: url(../img/html5.svg);
    background-size: auto 70%;
    background-position: center;
    background-repeat: no-repeat;
}
#css3 {
    background-image: url(../img/css3.svg);
    background-size: auto 70%;
    background-position: center;
    background-repeat: no-repeat;
}
#js {
    background-image: url(../img/js.svg);
    background-size: auto 60%;
    background-position: center;
    background-repeat: no-repeat;
}
#trash {
    background-image: url(../img/trash.svg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    flex: 1;
    padding: 25px 4% 150px;
}


header#header {
    font-size: 1rem;
    background-color: hsla(0, 0%, 0%, .85);
    color: white;
    padding: 0 16px;
}
header#header h1 {
    font-size: inherit;
    margin: 0;
}
header#header ul {
    display: flex;
}
header#header li {
    display: flex;
}
header#header li:first-child {
    font-weight: 100;
}
header#header a {
    padding: 4px 8px;
    text-decoration: none;
    color: inherit;
}
header#header a:hover {
    background-color: hsl(210, 81%, 61%);
}



figure {
    width: 100px;
    margin: 0;
    text-align: center;
    color: white;
    text-shadow: 0 4px 5px hsla(0, 0%, 0%, .75);
    margin-bottom: 2rem;
}
main li {
    position: relative;
}
main img {
    width: 65px;
    margin-bottom: 8px;
}
main a {
    text-decoration: none;
}


/*
    FINDER STYLES
    ---------------------------------------------
*/
section.finder {
    position: absolute;
    top: 0;
    left: 0;
    width: 85%;
    background-color: hsl(0, 0%, 100%);
    border: 1px solid hsl(0, 0%, 70.6%);
    border-radius: 8px;
    overflow: hidden;
}
section.finder header {
    padding: 5px;
    background-image: linear-gradient(to bottom, hsl(0, 0%, 94.1%), hsl(180, 1.3%, 84.5%));
}
section.finder header div {
    display: flex;
}
section.finder header div:first-child span {
    margin: 0 auto;
}
section.finder header div:last-child {
    justify-content: space-between;
}
section.finder header div:last-child button {
    line-height: 2;
    margin: 0;
    padding: 2px 8px;
    border-radius: 4px;
    background-color: hsl(300, 7.7%, 97.5%);
    border: 1px solid hsl(0, 0%, 79.2%);
}
section.finder header div:last-child button {
    background-color: green;
}
section.finder header div:last-child span button {
    float: left;
}
section.finder .finder-window-ctrl {
    display: flex;
}
section.finder .finder-window-ctrl li {
    margin-right: 4px;
}
section.finder .finder-window-ctrl i {
    font-size: 80%;
    margin: 0 1px;
}
section.finder .close {
    border-color: hsl(0.7, 72.2%, 56.3%);
    color: hsl(1.5, 96.4%, 67.5%);
    text-shadow: 1px 1px 0 hsl(0.7, 72.2%, 56.3%), -1px -1px 0 hsl(0.7, 72.2%, 56.3%), 1px -1px 0 hsl(0.7, 72.2%, 56.3%), -1px 1px 0 hsl(0.7, 72.2%, 56.3%);
}
section.finder .minimize {
    border-color: hsl(38.3, 74.3%, 51.2%);
    color: hsl(40.2, 97.9%, 62.4%);
    text-shadow: 1px 1px 0 hsl(38.3, 74.3%, 51.2%), -1px -1px 0 hsl(38.3, 74.3%, 51.2%), 1px -1px 0 hsl(38.3, 74.3%, 51.2%), -1px 1px 0 hsl(38.3, 74.3%, 51.2%);
}
section.finder .maximize {
    border-color: hsl(128.1, 73.8%, 37.5%);
    color: hsl(128.6, 58.6%, 49.2%);
    text-shadow: 1px 1px 0 hsl(128.1, 73.8%, 37.5%), -1px -1px 0 hsl(128.1, 73.8%, 37.5%), 1px -1px 0 hsl(128.1, 73.8%, 37.5%), -1px 1px 0 hsl(128.1, 73.8%, 37.5%);
}







/*
    FOOTER STYLES
    ---------------------------------------------
*/
footer {
    width: 100%;
    padding: 25px 4% 0;
    box-sizing: border-box;

    position: absolute;
    bottom: 0;
    transition: transform 250ms ease-in-out;
    transform: translateY(  calc(100% - 25px) );
}
footer:hover {
    transform: translateY(0%);
}
footer ul {
    background-color: hsla(0, 0%, 0%, .65);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 16px 16px 24px;
    display: flex;
}
footer a {
    display: flex;
    width: 85px;
    height: 85px;
    align-items: center;
    justify-content: center;
}
footer a img {
    height: 100%;
}
footer li {
    margin: 0 10px;
}
footer li:last-child {
    margin-left: auto;
}
