html {
    background-image: url(../img/headbg.jpg), url(../img/bobybg.jpg);
    background-position: center top;
    background-repeat: no-repeat, repeat-x;
    background-color: black;
}
body {
    color: white;
    margin: 0;
}
.container {
    width: 800px;
    margin: 0 auto;
}
header {

}
section {
    width: 64%;
    float: left;
    background-image: url(../img/leftbg.jpg), url(../img/mainbg.jpg);
    background-position: right top;
    background-repeat: no-repeat, repeat-x;
}
section img {
    float: left;
    margin: 0 20px 20px 0;
}
aside {
    width: 34%;
    float: right;
    background-image: url(../img/rightbg.png), url(../img/mainbg.jpg);
    background-position: left top;
    background-repeat: no-repeat, repeat-x;
}
#mega {
    background-color: hsl(9, 83%, 9%);
}
#mega .container {
    padding: 40px 0;
    display: flex;
}
#mega .container > div {
    flex: 1;
    margin: 0 20px;
}
main::after {
    content: '';
    display: block;
    clear: both;
}

body > :first-child,
#mega .container {
    position: relative;
}
body > :first-child .pump {
    position: absolute;
    bottom: 0;
    right: 0;
}
#mega .pump {
    position: absolute;
    top: 0;
    right: -12px;
}
@media screen and (max-width: 799px){
    .container {
        width: 100%;
    }
    section {
        width: 100%;
        margin: 0;
        background-image: url(../img/mainbg.jpg);
        background-repeat: repeat-x;
        padding-bottom: 60px;
    }
    aside {
        display: none;
    }
    #mega .container {
        flex-direction: column;
    }
}
@media screen and (max-width: 450px){
    section img {
        width: 100%;
        margin: 0 0 20px 0;
    }
}
