ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.searchResults {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.searchResults li {
    max-width: 250px;
    margin: 16px;
}
.searchResults img {
    width: 80%;
    display: block;
    margin: 0 auto;
}
